body{
  
  background-image: url('../imagens/the_explicit_content.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; 

  font-family: "Lora", Arial, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
}

p{
  font-size: 16px;
  text-align: justify;
}




.imagem-fixa {
  position: fixed;
  /* Estas coordenadas são relativas à JANELA DO NAVEGADOR */
  bottom: 10px;
  right: 10px;
  background-image: url('../imagens/quadros/eyes.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  /* Este elemento ficará aqui mesmo que você role a página */
}
