body{
  background-image: url('../imagens/the_explicit_content.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  font-family: "Lora", Arial, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}

p{
  font-size: 16px;
  text-align: justify;
}

.minha-caixa {
  width: 300px;           /* Largura do conteúdo */
  height: 150px;          /* Altura do conteúdo */
  
  padding: 20px;          /* 20px de preenchimento em todos os 4 lados */
  
  border: 5px solid black; /* Borda de 5px, sólida e preta */
  
  margin: 40px;           /* 40px de margem para afastar dos vizinhos */
  
  background-color: lightblue; /* Cor de fundo para o conteúdo + padding */
}

