body{
  background-image: url('../imagens/the_explicit_content.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
